h1 {
    background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #6600cc, #ff3399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

h2 {
    color: #fff;
    background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #6600cc, #ff3399);
    border: none;
    padding: 5px 20px;
    margin-bottom: 0;
    border-radius: 8px;
}


#wrap{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: #f6bb9e 1px solid;
	background-color: #fff;
}

background-color可改變背景顏色
a:link {color:#FF0000; background-color:#00FF00;} 

body{
	background-position: center;
	background-color: #fbf9cc;
	background-size: 600px ;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
